/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */


.header{
  height: 15vh;
  background-color: '#fff';
  padding: '14px';
}


.opera-box{
  height: 100%;
  width: 100%;
  border: 2px solid #4096ff;
  border-radius: 15px;
  padding: 15px 10px;
}

.opera-list-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  width: 100%;
  border: 2px solid #4096ff;
  border-radius: 15px;
  padding: 10px 10px;
}

.opera-list{
  width: 100%;
  height: 78%;
  overflow: auto;
}

.opera-result-list{
  width: 100%;
  height: 20%;
  border: 2px solid #4096ff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.25rem;
}

.operaItem{
  width: 100%;
  height: 23%;
  border: 2px solid #4096ff;
  border-radius: 15px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-weight: 500;
  font-size: 1.25rem;
}

.opera-button-area{
  height: 25%;
  width: 100%;
  padding: 10px 15px;
}

.opera-small-button-area{
  display: flex;
  justify-content: space-between;
}

.opera-small-button{
  width: 45%;
  border: 2px solid #ff4d4f;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 1.15rem;
}

.opera-big-button{
  height: 40px;
  border: 2px solid #ff4d4f;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 1.15rem;
  margin-top: 10px;
}


.desk-box{
  height: 100%;
  width: 100%;
  border: 2px solid #4096ff;
  border-radius: 15px;
}

.desk-container{
  height: 100%;
  overflow: hidden;
}


.menuContainer{
  height: 100%;
  width: 100%;
  border: 2px solid #4096ff;
  border-radius: 15px;
  padding: 20px;
}

.menuTypeContainer{
  width: 100%;
  height: 25%;
  border: 2px solid #ff4d4f;
  border-radius: 15px;
  overflow: auto;
}

.menuType{
  width: 96px;
  height: 80%;
  border: 2px solid #ff4d4f;
  border-radius: 15px;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.55rem;
}

.menuItemContainer{
  overflow: hidden;
  padding-top: 20px;
}

.menuItem{
  width: 120px;
  height: 50px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  border: 2px solid #4096ff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 1.25rem;
  
}
